[Unit]
Description=Configure Network After Boot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ip route del default; ifconfig eth1 192.168.0.130 netmask 255.255.255.0 up;ip route add default via 192.168.0.1 && eval `ip route show | awk "{ if (\$8 == \\\"eth0\\\" && \$2 != \\\"0.0.0.0\\\") print \\\"ip route del default via \\\" \$2; }"`'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
